.container {
    margin: 20px auto;
    width: 80%;
}
.login-wrapper{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.avatar{
    height: 200px;
    border-radius: 50%;
}
.inputBoxes input{
    font-size: larger;
    margin: 10px auto;
    width: 300px;
    padding: 12px;
    border: 1px solid #ccc;
}
.login-button input{
    cursor: pointer;
    font-size: larger;
    margin-top: 50px;
    width: 330px;
    padding: 12px;
    border: 1px solid #ccc;
    text-align: center;
}
.login-button input:hover{
    background-color: rgb(16, 114, 81);
    color: azure;
}
.register-button a{
    font-size: larger;
    text-decoration: none;
    margin-top: 50px;
    width: 330px;
    padding: 12px 115px;
    border: 1px solid #ccc;
    text-align: center;
    /* background-color: #ccc; */
}
.register-button a:hover{
    background-color: rgb(16, 114, 81);
    color: azure;
    border-color: none;
}