.login-container {
    margin: auto;
    width: 80%;
    padding: 100px 0;
}
.login-container .login-wrapper {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-container .avatar {
    height: 200px;
    border-radius: 50%;
}
.login-container .inputBoxes input {
    font-size: larger;
    margin: 20px auto 0 auto;
    width: 300px;
    padding: 12px;
    border: 1px solid #ccc;
}
.login-container .login-button input {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    text-transform: uppercase;
    font-size: larger;
    font-weight: 600;
    margin-top: 30px;
    width: 330px;
    padding: 12px;
    border: 1px solid #ccc;
    text-align: center;
    color: #1b1b1b;
    background: #66a1b8;
}
.login-container .login-button input:hover, .login-container .register-button a:hover {
    background: #3f7f99;
}
.login-container .register-button a {
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    font-size: larger;
    font-weight: 600;
    margin-top: 50px;
    padding: 12px 92px;
    border: 1px solid #ccc;
    text-align: center;
    background: #66a1b8;
    color: #1b1b1b;
}
.login-container input, .login-container a {
    border-radius: 10px;
}
.login-container .warning-message p {
    font-size: small;
    font-weight: 400;
    text-decoration: none;
    color: red;
    font-style: italic;
    margin: 20px 0px;
}
